
.main-wrapper {
  margin: 15px auto;
  padding: 5px;
  width: 400px;
  font-family: Arial;
  font-size: 18px;
  display: flex;
  justify-content: left;
  flex-direction: column;
  background-color: aliceblue;
  border-radius: 5px;


  .language-wrapper{
    text-align: center;
  }

  hr {
    background-color: silver;
    width: 100%;
  }

  ul {
    margin: 5px;
  }

  span {
    margin: 4px;
    cursor: default;
    transition: 0.2s;
    text-decoration: underline;
  }

  span:hover {
    opacity: 0.7;
  }

  span.none-decoration {
    text-decoration: none;
  }

  span.none-decoration:hover {
    opacity: 1;
  }
}
