<div class="main-wrapper">
  <div class="language-wrapper">
    <span (click)="changeLanguage('en')">English</span>
    <span (click)="changeLanguage('es')">Spanish</span>
    <span (click)="changeLanguage('pt')">Portuguese</span>
    <span (click)="changeLanguage('de')">German</span>
  </div>
  <hr>
  <div>
    <span class="none-decoration">Words for example:</span>
    <ul>
      <li>{{'Grid' | translate}}</li>
      <li>{{'Typography' | translate}}</li>
      <li>{{'Alerts' | translate}}</li>
    </ul>
  </div>
</div>
